.logo{
    font-size: 25px;
    margin-left: 20px;
    
}
.logo2{
    margin-left: 10px;
}
.logo3{
    margin-left: 10px;
}
.logo4{
    margin-left: 10px;
}
.footer-section{
    width: 100%;
    height: auto;
    background-color: rgb(60, 54, 54);
    padding: 20px;
}